body{
    background-color:beige;
}
/* Class Selector */
.highlight{
    background-color: deeppink;
}
/* ID Selector */
#main-heading{
    background-color: mediumvioletred;
}

/* Universal Selector */
*{
    background-color:aqua;
}
/* descendant selector */
div p{
    background-color: bisque;
}
/* child Selector */
div>h2{
    color: chartreuse;
}
/* Attributes selector */
input [type="text"]{
    border: 1px solid #ccc;
}
/* Grouping Selector */
h1,h2,h3{
    background-color: darkgreen;
}